{% extends "themes/base_admin.html.twig" %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block description %}
    Tableau de bord
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Tableau de bord</h1>
{% endblock %}