{% extends "themes/base_admin.html.twig" %}

{% block title %}Nouveau tag{% endblock %}

{% block description %}Ajoutez une nouveau tag à la liste{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nouveau tag</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-5 mx-auto">
                {{form_start(tagForm)}}
                    <div class="mb-3">
                        <label for="category_form_name">Nom</label>
                        <div class="text-danger">{{form_errors(tagForm.name)}}</div>
                        {{form_widget(tagForm.name, {'attr': {'class':'form-control', 'autofocus':'autofocus'}})}}
                    </div>
                    <div>
                        <input formnovalidate type="submit" class="btn btn-primary shadow">
                    </div>
                {{form_end(tagForm)}}
            </div>
        </div>
    </div>

{% endblock %}