{% extends "themes/base_visitor.html.twig" %}

{% block title %}Articles santé & médecine | Conseils médicaux – Médecine du Monde{% endblock %}

{% block description %}Retrouvez tous les articles du blog Médecine du Monde : conseils santé, prévention, éclairages sur les spécialités médicales et témoignages inspirants, rédigés par des professionnels.{% endblock %}

{% block keywords %}articles santé, articles médicaux, blog médecine, prévention santé, conseils médicaux, information santé, médecine expliquée{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des articles</h1>
{% endblock %}