// 1. Abstracts
@import "./abstracts/variables";

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// Base
@import "./base/typography";
@import "./base/classes";

// Components
@import "./components/visitor/header_visitor";
@import "./components/auth-form";

// Layout

// Pages
@import "./pages/visitor/gap_contact_visitor";

// Themes
@import "./themes/base_visitor.scss";