// 1. Abstracts
@import "./abstracts/variables";

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// Base
@import "./base/typography";
@import "./base/classes";

// Themes
@import "./themes/base_visitor.scss";