<h2>Bonjour! Veuillez confirmer votre adresse e-mail</h2>

<p>
    Merci de confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>. <br><br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Ciao Ciao!<br>
</p>