{% extends "themes/base_visitor.html.twig" %}

{% block title %}
Vérification de votre adresse e-mail | Médecine du Monde
{% endblock %}

{% block description %}
Un e-mail de vérification vous a été envoyé. Veuillez confirmer votre adresse e-mail pour activer votre compte Médecine du Monde et accéder à votre espace personnel.
{% endblock %}

{% block keywords %}
<meta name="keywords" content="vérification e-mail, confirmation compte, activation compte, sécurité compte, inscription blog médical, Médecine du Monde">
{% endblock %}

{% block main %}
    <div class="mt-5">
        <h1 class="text-center my-3 display-5">
            Vérification de votre adresse e-mail
        </h1>

        <p class="text-center text-muted mt-3">
            Un e-mail de confirmation vous a été envoyé.
            Veuillez cliquer sur le lien contenu dans ce message pour activer votre compte.
        </p>

        <p class="text-center text-muted">
            Pensez à vérifier votre dossier <strong>courriers indésirables</strong> si vous ne trouvez pas l'e-mail.
        </p>
    </div>
{% endblock %}