{% extends "themes/base_admin.html.twig" %}

{% block title %}Modifier cette catégorie{% endblock %}

{% block description %}Modifiez cette catégorie de la liste{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modifier cette catégorie</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-5 mx-auto">
                {{form_start(categoryForm)}}
                    <div class="mb-3">
                        <label for="category_form_name">Nom</label>
                        <div class="text-danger">{{form_errors(categoryForm.name)}}</div>
                        {{form_widget(categoryForm.name, {'attr': {'class':'form-control', 'autofocus':'autofocus'}})}}
                    </div>
                    <div>
                        <input formnovalidate type="submit" class="btn btn-primary shadow">
                    </div>
                {{form_end(categoryForm)}}
            </div>
        </div>
    </div>

{% endblock %}