{% extends "themes/base_visitor.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block description %}Bienvenue sur le blog de Jean Dupont{% endblock %}

{% block keywords %}Bienvenue, blog, articles{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Hello World!</h1>
{% endblock %}