{% extends "themes/base_visitor.html.twig" %}

{% block title %}Médecine du Monde | Blog santé & conseils médicaux par un médecin{% endblock %}

{% block description %}Médecine du Monde est un blog santé animé par le Dr Jean Dupont. Conseils médicaux, prévention, spécialités médicales et regards internationaux pour mieux comprendre et prendre soin de sa santé.{% endblock %}

{% block keywords %}
    <meta name="keywords" content="santé, médecine, blog médical, conseils santé, prévention, médecin, spécialités médicales, vulgarisation médicale, santé internationale">
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Accueil</h1>
{% endblock %}